body{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    background-color: lightgrey;
}
h3{
    font-style: unset;
    font-size: 20px;
}